@import url('https://fonts.googleapis.com/css?family=Anta&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Anta', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(175, 175, 175);
}

h1{
    color: #000;
    font-size: 2rem;
    padding: 10px 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 39, 39);
    width: 70vw;
    padding: 15px 0;
    height: 85vh;
    border: 3px solid #000;
    border-radius: 30px;
}

.options {
    padding: 0.5rem;
}

#new-grid {
    padding: 5px 20px;
    margin: 10px 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(202, 39, 39);
    border: 2px solid rgb(202, 39, 39);
    background-color: antiquewhite;
    border-radius: 30px;
    box-shadow: 2px 3px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}

#new-grid:focus{
    outline: 0;
}

#new-grid:active{
    transform: scale(0.90);
    transition: 60ms linear;
}

#new-grid:hover{
    background-color: rgb(207, 163, 19);
    color: #000;
    border: 2px solid #000;
}

#sketch {
    background-color: #e0dede;
    width: 80vh;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.pixel {
    border: 0.5px solid #efeeee;
}

@media (max-width: 768px){
    .container {
        width: 100vw;
        height: 100vh;
    }
    #sketch{
        width: 77vw;
        height: 77vh;
        padding: 0;
        margin: 0;
    }
}